@import "tailwindcss";


/* Reset پایه */
html, body, #__next {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  direction: rtl;
  
}

/* لینک‌ها */
a {
  text-decoration: none;
  color: inherit;
}

/* کارت‌ها و Paper */
.MuiPaper-root {
  font-family: 'Vazirmatn', sans-serif;
}



